a {
    text-decoration: none;
}


/* ========================common css end================================= */

nav {
    background: rgba(28, 30, 83, 1) !important;
    padding: 16px 0 !important;
}


.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: rgba(187, 187, 203, 1);
    font-family: 'Poppins', sans-serif;
    transition: .4s;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;

}

.navbar-nav {
    column-gap: 32px;
    align-items: center;
}

.btn {
    padding: 16px 48px;
    border-radius: 41px;
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.2);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    margin-left: 48px;
    transition: .4s !important;
}

.btn:hover {
    background: #FCD980;
    color: black;
}

/* ================navbar css end=========================== */
/* ================banner css start=========================== */

.banner {
    background: rgba(28, 30, 83, 1);
    padding-top: 126px;
    padding-bottom: 128px;
}

.banner h1 {
    font-size: 54px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;


}

.banner p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(187, 187, 203, 1);
    font-family: 'Poppins', sans-serif;
    width: 562px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner a {
    padding: 16px 56px;
    border-radius: 41px;
    background: #FCD980;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-family: "Manrope", sans-serif;
    border: 1px solid transparent;
    transition: .4s;
}

.banner a:hover {
    background: transparent;
    border-color: white;
    color: white;
}


.banner .col-lg-6 {
    width: 582px;
}

.banner-img {
    width: 638px;
    margin-left: 60px;
}

.banner .bt-2 {
    color: white;
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
    margin-left: 40px;
}

.bt-2 .icon {
    position: absolute;
    top: 6px;
    left: 106px;
    opacity: 0;
    transition: .4s;
    font-size: 16px;
}

.bt-2:hover .icon {
    opacity: 1;
    left: 120px;
}

/* ================banner css end=========================== */
/* ================work section css start=========================== */
.work {
    background: rgba(244, 246, 252, 1);
    padding-top: 128px;
    padding-bottom: 128px;
}

.work h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
}

.work p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    width: 405px;
    margin: 16px 0;
}

.bt-3 {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #2405F2;
}

.bt-3 .icon {
    position: absolute;
    top: 6px;
    left: 182px;
    opacity: 0;
    transition: .4s;
    font-size: 16px;
}

.bt-3:hover .icon {
    opacity: 1;
    left: 190px;
}

.work .box {
    display: flex;
}

.work img {
    width: 50px;
    margin-left: 0;
    margin-bottom: 16px;
}


.work h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    margin-bottom: 8px;
}

.work p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    width: 303px;
    line-height: 28px;
    margin-bottom: 48px;

}

/* ================work section css end=========================== */
/* ================project section css start=========================== */

.project {
    padding-top: 128px;
    padding-bottom: 128px;
}

.project h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
}

.project .box {
    display: flex;
    justify-content: space-between;
}

.project .bt-3 {
    color: #282938;
}

.project .bt-3:hover .icon {
    opacity: 1;
    left: 111px;
}


.project .bt-3 .icon {
    opacity: 0;
    left: 95px;
}

.heading {
    margin-bottom: 64px;
}


.image-box {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.project img {
    width: 100%;
}

.project .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -52%;
    transition: .5s;
    background-image: linear-gradient(to bottom right, rgb(28, 30, 83, 0.42), #1C1E53);
    padding-top: 312px;
}

.project .project-box {
    position: relative;
    overflow: hidden;
}

.project .project-box:hover .overlay {
    left: 0;
}

.project .overlay h4 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-left: 48px;
    padding-right: 35px;
}



.project .overlay p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-left: 48px;
    padding-right: 55px;
    padding-top: 16px;
    padding-bottom: 40px;
}


.project .overlay a {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FCD980;
    padding-left: 48px;
}

.project .overlay .icon {
    color: #FCD980;
    left: 156px;
    opacity: 1;
    top: 3px;

}

.project .overlay a:hover .icon {
    left: 156px;
}

.ov-box {
    width: 100%;
    overflow: hidden;

}

.image-box .overlay {
    width: 100%;
    top: -107%;
    left: 0;
    padding-top: 129px;
}

.ov-box:hover .overlay {
    top: 0;
}

.image-box .overlay h4 {
    width: 313px;
    padding-bottom: 10px;
}

.o-box2 .overlay {
    top: 100%;
    border-radius: 20px;
}

.o-box2:hover .overlay {
    top: 0;
}


/* ================project section css end=========================== */
/* ================feature section css start=========================== */


.feature {
    padding: 128px 0;
    background: #F4F6FC;
}

.feature h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    text-align: center;
}

.feature h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    text-align: center;
    width: 630px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 47px;
}

.feature .card {
    width: 100% !important;
    padding: 58px 32px 48px 48px;
    border: none;
    border-radius: 0;
}

.feature .card img {
    width: 32px;
    padding-bottom: 22px;
}

.feature .card-body {
    padding: 0;
}

.feature .card .card-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    padding-bottom: 12px;
}

.feature .card .card-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;

}

.row {
    row-gap: 24px;
}

/* ================feature section css end=========================== */
/* ================clients section css start=========================== */
.clients {
    padding: 130px 0;
    background: #F4F6FC;
}

.clients h2 {
    font-size: 38px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    width: 327px;
}

.clients p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    width: 327px;
    padding-top: 25px;
}

.clients h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    padding-bottom: 48px;
}

.box {
    display: flex;

}

.clients .right {
    padding-left: 14px;
    padding-top: 7px;
}

.clients .right h5 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    margin: 0;
}

.clients .right p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    padding-top: 0px;
}



/* ================clients section css end=========================== */
/* ================faq section css start=========================== */

.faq {
    padding: 128px 0;
}

.faq .faq-question h2 {
    font-size: 38px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    width: 328px;
}

.faq a {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #2405F2;
    margin-top: 16px;
    display: inline-block;

}

.faq a:hover .icon {
    left: 230px;
}

.faq a .icon {
    transition: .4s;
    left: 220px;
}


.faq .accordion-button {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
}

.faq .accordion-button span {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #2405F2;
    margin-right: 60px;
}

.faq .accordion-body {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    padding: 0 100px;
    padding-bottom: 48px;
    padding-top: 16px;
    border-bottom: 1px solid #ECECF1;
    margin-bottom: 10px;

}

.faq .accordion-item {
    border: none;
    border-bottom: 2px solid #ECECF1;

    border-radius: 0;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: "x";
    transform: rotate(0) translateY(-50%);
    top: 10px;
}

.accordion-button::after {
    content: "+";
}

/* ================faq section css end=========================== */

/* ================conatct section css start=========================== */

.contact {
    padding-top: 121px;
    padding-bottom: 84px;
}

.contact img {
    width: 100%;
    height: 100%;
}

.contact .left .overlay {
    width: 100%;
    height: 100%;
    background: rgba(28, 30, 83, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
    padding-top: 96px;
    padding-left: 96px;
    padding-right: 96px;
}


.contact .left {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.contact .left:hover .overlay {
    left: 0;
}


.contact .left .overlay h3 {
    font-size: 54px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 74px;
    width: 464px;
}

.contact .left .overlay p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 464px;
    line-height: 28px;
    padding-top: 24px;
}

.contact .right {
    width: 100%;
    height: 100%;
    background: #1C1E53;
    padding-top: 96px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 48px;
}

.contact .right h4 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 48px;
    color: white;
}

.contact .right p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 432px;
    line-height: 28px;
    padding-top: 8px;
    padding-bottom: 48px;
}

.contact .right form input {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.5);
    color: white;
    padding: 18px 0;
    padding-left: 32px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.contact .right form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: #f4f6fc76;
}

.contact .right button {
    padding: 16px 150px;
    border-radius: 41px;
    background: #FCD980;
    width: 100%;
    margin-top: 34px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'manrope', sans-serif;
    color: #1B1C2B;
    margin-bottom: 33px;
    transition: .4s;
}

.contact .right button:hover {
    background: #cbae65;
}

.contact .right .common-bt .cm-bt {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    padding: 0;
    border: none;
}

 .contact .common-bt {
    text-align: center;
    position: relative;
}

.contact .right .common-bt .cm-bt:hover .icon {
    left: 340px;
    opacity: 1;
}

 .contact .right .cm-bt .icon {
    position: absolute;
    top: 42px;
    left: 323px;
    opacity: 0;
    transition: .4s;
    font-size: 16px;
}

/* ================conatct section css end=========================== */
/* ================blog section css start=========================== */

.blog h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    line-height: 64px;
    padding-bottom: 64px;
}

.blog .card {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
}

.blog .card h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    line-height: 28px;
}
.blog .card p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    line-height: 28px;
    width: 405px;
}

.blog .card h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    line-height: 36px;
width: 405px;
padding: 16px 0;
}
.blog .card .common-bt .cm-bt {
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    padding: 0;
    border: none;
}
.blog .card .common-bt .cm-bt .icon {
    position: absolute;
    top: 8px;
    left: 105px;

    transition: .4s;
    font-size: 16px;
}
.blog .card .common-bt{
    position: relative;
}
.blog .card .common-bt .cm-bt:hover .icon {
    left: 125px;

}


/* ================blog section css end=========================== */
/* ================footer section css start=========================== */

.footer{
    padding-top: 100px;
    background: #1C1E53;
}

.footer p{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #f4f6fcab;
    line-height: 28px;
  width: 399px;
  padding-top: 22px;
}

.footer .footer-box{
    display: flex;
 justify-content: space-between;
    background: #FCD980;
    padding: 17px 0;
    padding-left: 37px;
    padding-right: 137px;
    align-items: center;
    margin-top: 86px;
    width: 517px;
    height: 96px;
}

.footer .footer-box h4{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
}

.footer .footer-box a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;

}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 26px;
}

.footer ul li a i{
    font-size: 16px;
  color: white;
}

.footer h2{
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    line-height: 64px;
    padding-bottom: 14px;
}

.footer .para{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #f4f6fcab;
    line-height: 28px;
    padding-bottom: 28px;
}

 footer h5{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
}

.footer2{
    padding: 32px 0;
}

footer .ul-2{
    display: flex;
    list-style: none;
column-gap: 32px;
align-items: center;
margin: 0;
padding: 0;

}

footer .ul-2 li a{
    color: #282938 !important;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


.footer .copy{
    align-items: center;
}


/* ================footer section css end=========================== */